@font-face {
    font-family: "Pusab Rus"; 
    src: url('../assets/Pusab-Rus.ttf')
}

@font-face {
    font-family: "Pusab"; 
    src: url('../assets/Pusab.ttf')
}

body{
    background: linear-gradient(#0065fd, #002E73) fixed;
    margin: 0;
}
*{
    font-family: Arial, sans-serif;
    color: white;
    font-size: 3vh;
}

.container {
    width: 100%;
    height: 100%;
}

#small-screen-warn {
    display: none;
}

#text-container {
    margin: auto;
    background-color: rgb(173, 115, 76);
    width: 122vh;
    height: 75%;
    box-shadow: 1em 0.5em 0.938em 0.938em inset rgb(150, 89, 49), -1em -0.5em 0.938em 0.938em inset rgb(150, 89, 49);
    overflow-y: auto; 
    overflow-x: hidden;
}

#text {
    width: 64%;
    height: 68.2%;
    padding: 1.5em 0em 0em 1.8em;
}

.cool-border {
    border-width: 3.5vh;
    border-style: solid;
    border-image: url(../assets/epicbox.png);
    border-image-slice: 85 77;
    border-image-width: 9.5vh;
}

.supercenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.left-corner-wrapper{
    position: fixed;
    bottom: 0;
    width: 100%;
}

.left-corner-wrapper img{
    display: table;
    position:relative;
}

.right-corner-wrapper{
    text-align: right;
    position: fixed;
    bottom: 0;
    left: 93%;
    width: 100%;
}

.right-corner-wrapper img{
    transform: scaleX(-1);
    display: table;
    position:relative;
}

@media screen and (max-width: 1023px) {
    .container {
        display: none;
    }
    #small-screen-warn {
        display: block;
        width: 100%;
        height: 100%;
        text-align: center;
    }
}

.whoops {
    color: #ff0000;
    font-family: "Pusab", "Pusab Rus";
    font-size: 6vh;
    -webkit-text-stroke-width: 0.25vh;
    -webkit-text-stroke-color: black;
    text-shadow: 0.375vh 0.375vh 0vh rgb(0 0 0 / 30%);
}

.warn-yellow-text{
    color: #ffff00;
}

.warn-green-text{
    color: #00ff00;
}

.warn-blue-text{
    color: #00ffff;
}